@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

$exo: 'Exo', sans-serif;

$blue: #213140;
$green: #29ab87;
$red: #FF5252;
$white: white;


* {
    margin: 0;
    box-sizing:inherit;
    color: $white;
    font-family: $exo;
}

html {
    background: $green;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

h1 {
    color: $red;
    font-size: 48px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5%;
    text-align: center;
}

section {
    position: relative;
    padding-top: 20vh;
    min-height: 100vh;
    background-color: $blue;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-padding-top: 30vh;
}


header {
    height: 20vh;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    #me{
        position: absolute;
        top: 1vh;
        width: -webkit-fill-available;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
        text-align: center;
        @extend .fadeIn;
    }

    #photo {
        height: 15vh;
        border-radius: 50%;
        border: solid 3px white;
        margin: 5% auto;
        @extend .fadeIn;
    }

    #social {
        padding-left: 13%;
        @extend .fadeIn; 
        a {
            text-decoration: none;
        }
        img:hover {
            transform: scale(0.9, 0.9);
        }
        img {
            height: 40px;
            cursor: pointer;
            transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
        }
    }
}


.intro {
    padding: 35vh 15vw 0;
    text-align: justify;
    line-height: 3;
    letter-spacing: 4px;
    font-size: 16px;
    p {@extend .fadeIn;}
    span {
        display: inline-block;
        width: 150px;
        text-align: center;
    }
}

#coding {
    padding: 40vh 5vw 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    div { @extend .fadeIn;}
    img {
        height: 50px;
        filter: grayscale(1) brightness(1.6);
    }
    span {
        display: inline-block;
        font-size: 10px;
        padding: 5%;
    }
}


#timeline {
    padding: 30vh 5vw;
    grid-template-columns: 50% 50%;
    display: grid;
    text-align: center;
    line-height: 1.8;
    font-weight: 200;
    div {padding: 10% 0;}
    p {font-size: 14px;}
    summary {
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        color: $green;
    }
    details {
        text-align: justify;
        padding: 2%;
    }
    details > summary::-webkit-details-marker {
        color: white;
        transform: rotate(90deg)
    }
    details > summary:focus {
        outline: none;
    }
}

/*-----------------------  MEDIA  ---------*/
@media (max-width: 900px){
    h1 {font-size: xx-large;}
    h2, h3 {font-size: medium;}
    #social a {display: block}
    .intro {padding: 30vh 10vw 0;}
    #coding {padding: 30vh 10vw 0; grid-template-columns: none;}
    #coding div {display: inline}
    h3 {padding-bottom: 0;}
}

@media (max-width: 500px){
    h1 {font-size: x-large; padding-top: 5%;}
    h2, h3 {font-size: small;}
    p {font-size: x-small;}
    img#photo {display: none;}
    header #social {display: inline-flex; padding: 2%}
    header #me {display: block}
    header #social img {height: 30px}
    #coding img {height: 30px}
    #timeline {display: block; padding: 20vh 5vw;}
}


/*---------------------- DOTS EFFECT ------*/
.dots:after {
	content: " ";
    animation: dots 1s linear infinite;
    animation-direction: alternate-reverse;
    position: absolute;
}

@keyframes dots {
    0% {content: " "}
    25% {content: ". "}
    50% {content: ". . "}
    75% {content: ". . ."}
    100% {content: ". . ."}
}


/*---------------------- FADEIN EFFECT-----*/

.fadeIn {
    animation: fadeIn 2s ease-in both;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


/*----------------------------------WAVES effect-------*/
.box {
    width: inherit;
    height: inherit;
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: 0.4;
    position: absolute;
    top: 100%;
    left: -10%;
    background: #213140;
    width: 2000px;
    height: 2500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 11s infinite linear;
    z-index: 99;
}

.wave.three {
    animation: drift 13s infinite linear;
}

.wave.two {
    animation: drift 15s infinite linear;
    opacity: .1;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(41,171,135,1) 0%, rgba(37,111,100,1) 30%, rgba(33,49,64,1) 100%);
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}


/*-----------------------------------FADING BORDER effect---------*/
.fade-borders::before,
.fade-borders::after {
  content: '';
    z-index: 10;
    position: fixed;
    left: auto;
    width: 100%;
    height: 50px;
}
.fade-borders::before {
    top: 20vh;
    background: linear-gradient(to bottom, $blue 10%, rgba(0, 48, 243, 0) 90%);
}
.fade-borders::after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 48, 243, 0) 0%, $blue 90%);
}


/*------------------------------------LOOPING TEXT effect-------------*/
#looping1::before {
    content: '';
    color: $green;
    animation: keywords1 5s ease-in-out infinite;
}

@keyframes keywords1 {   
    0% { content: 'Organised'}
    35% { content: 'Curious'}
    70% { content: 'Self-starter'}
    100% { content: 'Ambitious'}
}

#looping2::before {
    content: '';
    color: $green;
    animation: keywords2 ease-in-out 5s infinite;
}

@keyframes keywords2 {
    0% { content: 'collaborative'}
    35% { content: 'dynamic'}
    70% { content: 'innovative'}
    100% { content: 'diverse'}
}



