@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

$exo: 'Exo', sans-serif;

body {
    margin: 0;
}


.header {
    height: 30vh;

    img {
        height: 20vh;
        border-radius: 50%;
        position: relative;
        top: -10vh; 
        left: 3vw;
        border: solid 6px white;
    }

    #name-title {
        font-family: $exo;
        position: absolute;
        top: 20vh;
        left: 20vw;
        color: white;
        font-size: 40px;
        width: -webkit-fill-available;
    }

    #name-title p {
        margin: 1%;
    }

    #name-title p span {
        color: #FF5252;
    }
}

.box {
    width: inherit;
    height: inherit;
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: 0.4;
    position: absolute;
    top: 150%;
    left: -20%;
    background: #213140;
    width: 2500px;
    height: 2500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 11s infinite linear;
    z-index: 99;
}

.wave.three {
    animation: drift 13s infinite linear;
}

.wave.two {
    animation: drift 15s infinite linear;
    opacity: .1;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(41,171,135,1) 0%, rgba(37,111,100,1) 30%, rgba(33,49,64,1) 100%);
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

#first-section {
    height: 70vh;
    background-color: #213140;
}
