@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap");
* {
  margin: 0;
  box-sizing: inherit;
  color: white;
  font-family: "Exo", sans-serif;
}

html {
  background-color: white;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

h1 {
  color: #FF5252;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5%;
  text-align: center;
}
h3 span {
  color: #29ab87;
}

header {
  height: 30vh;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
header #photo-name-title {
  position: absolute;
  top: 2vh;
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  text-align: -webkit-right;
}
header #photo-name-title :nth-child(1) {
  animation-delay: 2s;
}
header #photo-name-title :nth-child(2) {
  animation-delay: 4s;
  text-align: -webkit-left;
}
header img {
  height: 15vh;
  border-radius: 50%;
  border: solid 6px white;
  margin: 5%;
}

section {
  position: relative;
  padding-top: 20vh;
  min-height: 100vh;
  background-color: #213140;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.intro {
  padding: 10% 15%;
  text-align: justify;
  line-height: 3;
  letter-spacing: 4px;
  font-size: 16px;
}
.intro span {
  display: inline-block;
  width: 150px;
  text-align: center;
}

#coding {
  height: 80vh;
  padding: 20vh 5% 0;
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  text-align: center;
}
#coding h3 {
  padding: 5% 0;
}
#coding img {
  height: 50px;
}

#timeline {
  padding-top: 10vh;
  grid-template-columns: 50% 50%;
  display: grid;
}

/*---------------------- FADEIN EFFECTS-----*/
.fadeIn, header #photo-name-title, .intro, #coding {
  animation: fadeIn 2s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*----------------------------------WAVES effect-------*/
.box {
  width: inherit;
  height: inherit;
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 150%;
  left: -20%;
  background: #213140;
  width: 2500px;
  height: 2500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 11s infinite linear;
  z-index: 99;
}

.wave.three {
  animation: drift 13s infinite linear;
}

.wave.two {
  animation: drift 15s infinite linear;
  opacity: 0.1;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #29ab87 0%, #256f64 30%, #213140 100%);
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
/*-----------------------------------FADING BORDER effect---------*/
.fade-borders::before,
.fade-borders::after {
  content: "";
  z-index: 10;
  position: fixed;
  left: auto;
  width: 100%;
}

.fade-borders::before {
  top: 30vh;
  height: 50px;
  background: linear-gradient(to bottom, #213140 10%, rgba(0, 48, 243, 0) 90%);
}

.fade-borders::after {
  bottom: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 48, 243, 0) 0%, #213140 90%);
}

/*------------------------------------LOOPING TEXT effect-------------*/
#looping1::before {
  content: "";
  color: #29ab87;
  animation: keywords1 5s ease-in-out infinite;
}

@keyframes keywords1 {
  0% {
    content: "Organised";
  }
  35% {
    content: "Team-player";
  }
  70% {
    content: "Self-starter";
  }
  100% {
    content: "Ambitious";
  }
}
#looping2::before {
  content: "";
  color: #29ab87;
  animation: keywords2 ease-in-out 5s infinite;
}

@keyframes keywords2 {
  0% {
    content: "collaborative";
  }
  35% {
    content: "dynamic";
  }
  70% {
    content: "innovative";
  }
  100% {
    content: "diverse";
  }
}

/*# sourceMappingURL=style.css.map */
